__pycache__/
googledrive/__pycache__/
venv/
.env
googledrive/service-account.json
node_content.json
demo_collection.db

# SharePoint Credentials
sharepoint/credentials.json
sharepoint/__pycache__/
cache/